body {
    background-image: url("/assets/bgtexture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topLink {
    color: #5F002B;
  text-decoration: none;
  padding: 20px;
}

.homeHero {
height: 600px;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
    margin-left: 100px;
    margin-right: 100px;
}