body {
    background-image: url("/assets/bgtexture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topLink {
    color: #5F002B;
  text-decoration: none;
  padding: 20px;
}

.homeHero {
height: 600px;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px;
}

.navbar {
    margin-left: 100px;
    margin-right: 100px;
}
/*catering section */
/*.cat0-container-fluid,
.cat1-container,
.cat2-container {
  margin: 2rem 0; 
}
*/
.catering-header{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1200px;
/* max-width: 1200px;*/


  
}
.tit-row{

display: flex;
justify-content: flex-end;


}
/*.tit-container h2{

  color: #5F002B;
  width: 100px;
}*/

.cat0-container-fluid,
.cat1-container
 {
  margin: 2rem auto;     
  max-width: 1200px;     
  /*padding: 1.rem;     
  box-sizing: border-box; 
  border-radius: 15px; */ 
width:100% ;
 
}


.catering-header {
  max-width: 1230px;
}


.my{

  height: 500px;
  width: 100%;

  padding-left: 0;
}

.article{

height: 500px;
  width: 100%;

}
.cat0-container-fluid,
.cat2-container{

  margin: 2rem auto;     
  max-width: 1200px;     
 /* padding: 1.5rem;      
  box-sizing: border-box; 
  border-radius: 15px;  */
  width: 100%;
  
}

/*.cat0-container-fluid,
.cat1-container, text col-12{
  background-color: white;
}*/
.bg-color{
  background-color: white;
}
.cat2-container .row .col-4 img {
  margin: 8px;                
  border-radius: 15px;     
  display: block;         
  width: 100%;       
  height: 200px;             
  object-fit: cover;  
max-width: 1200;
         
}*/



.pic-container .row .col-3 img {
  margin: 8px;            
  border-radius: 15px;   
  border: 15px solid white; 
  display: block;         
  width: 100%;            
  height: auto;  
 background-color: white; 

}  


.cat1-container h3 {

color: #5F002B;
font-style: italic; 
margin-top: 20px;

}

.cat1-container p {

  color: #5F002B;
  font-size: 16px;
 

}

.image-photos{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1200px;

}

.img-border{

border: 15px solid #dee2e6!important
  
}
/* photo page end*/