body {
    background-image: url("/assets/bgtexture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topLink {
    color: #5F002B;
  text-decoration: none;
  padding: 20px;
}

.homeHero {
height: 600px;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px;
}

.navbar {
    margin-left: 100px;
    margin-right: 100px;
}

.catering-header{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1200px;


  
}
.tit-row{

display: flex;
justify-content: flex-end;


}


.cat0-container-fluid,
.cat1-container
 {
  margin: 2rem auto;     
  max-width: 1200px;   
  width:100% ;
 
}

.cat1-container {
  max-width: 1230px;      /* overall container max width */
  overflow: hidden;       /* clip overflow content */
  display: flex;          /* use flexbox layout */
  gap: 10px;              /* 10px gap between columns */
  max-height: 300px;      /* limit container height */
}

.cat1-container .my,
.cat1-container .article {
  flex: 1 1 0;            /* allow both divs to grow/shrink equally */
  max-height: 300px;      /* limit height for each column */
  overflow: auto;         /* scroll content if needed */
}

.cat1-container img {
  max-height: 300px;      /* limit image height */
  width: 100%;            /* make image full width of container */
  object-fit: cover;
}

.cat1-container .article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.my{

  height: 500px;
  width: 100%;

  padding-left: 0;
}

.article{

height: 500px;
  width: 100%;

}
.cat0-container-fluid,
.cat2-container{

  margin: 2rem auto;     
  /*max-width: 1200px;  */   
 border-radius: 0 !important;
  width: 100%;
  
}


.bg-color{
  background-color: white;
}
.cat2-container .row .col-4 img {
  margin: 8px;                
  border-radius: 15px;     
  display: block;         
  width: 100%;       
  height: 200px;             
  object-fit: cover;  
max-width: 1200;
         
}



.pic-container .row .col-3 img {
  margin: 8px;            
  border-radius: 15px;   
  border: 15px solid white; 
  display: block;         
  width: 100%;            
  height: auto;  
 background-color: white; 
}  

.cat2-container.container {
  max-width: 1270px; 
}


.cat1-container h3 {

color: #5F002B;
font-style: italic; 
margin-top: 20px;

}

.cat1-container p {

  color: #5F002B;
  font-size: 10px;
 font-family: "Montauk", sans-serif;;

}

.image-photos{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1200px;
 
}

.img-border{

border: 10px solid white!important
  
}
/* photo page end*/



/*.footer-desktop {
  display: flex;
  justify-content: space-between;
  
}

.footer-mobile {
  display: none;
  text-align: center;
}

/* Show mobile layout below 991px width */
/*@media (max-width: 991px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
} */

.footer {
  width: 100%;
 /* footer background */
  padding: 20px 0;
  box-sizing: border-box;
}

/* Constrain footer content width to match Bootstrap container */
.footer-desktop,
.footer-mobile {
  max-width: 1140px; /* Match your container width */
  margin: 0 auto;
  padding: 0 15px; /* Bootstrap container side padding */
  box-sizing: border-box;
}

/* Desktop styles */
.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Mobile styles hidden on desktop by default */
.footer-mobile {
  display: none;
  text-align: center;
}

/* Responsive: swap desktop and mobile footers */
@media (max-width: 767.98px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
}

/* Reset margins inside footer paragraphs */
.footer-info p,
.footer-logo p,
.footer-mobile p {
  margin: 4px 0;
   font-family: "Montauk", sans-serif;;
  color: #5F002B;
}

/* Align logo image vertically center with text */
.footer-logo img,
.footer-mobile img {
  align-self: flex-end;
  margin-right: 10px;
  height: 20px;
}
