body {
    background-image: url("/assets/bgtexture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topLink {
    color: #5F002B;
  text-decoration: none;
  padding: 20px;
}

.homeHero {
height: 600px;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px;
}

.navbar {
    margin-left: 100px;
    margin-right: 100px;
}

.catering-header{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1220px;


  
}
.tit-row{
display: flex;
justify-content: flex-end;
}


.cat0-container-fluid,
.cat1-container
 {
  margin: 2rem auto;     
  max-width: 1200px;   
  width:100% ;
 }

.cat1-container {
  max-width: 1210px;     
   
  display: flex;         
  gap: 10px;              
  max-height: 300px;   
}

.cat1-container .my,
.cat1-container .article {
  flex: 1 1 0;            
  max-height: 300px;      
  overflow: auto;         
}

.cat1-container img {
  max-height: 300px;      
  width: 100%;            
  object-fit: cover;
}

.cat1-container .article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.my{

  height: 500px;
  width: 100%;

  padding-left: 0;
}

.article{

height: 500px;
  width: 100%;

}
.cat0-container-fluid,
.cat2-container{
margin: 2rem auto;     
  border-radius: 0 !important;
  width: 100%;
  
}


.bg-color{
  background-color: white;
}
.cat2-container .row .col-4 img {
  margin: 8px;                
  border-radius: 15px;     
  display: block;         
  width: 100%;       
  height: 200px;             
  object-fit: cover;  
max-width: 1200;
         
}



.pic-container .row .col-3 img {
  margin: 8px;            
  border-radius: 15px;   
  border: 15px solid white; 
  display: block;         
  width: 100%;            
  height: auto;  
 background-color: white; 
}  

.cat2-container.container {
  max-width: 1270px; 
}


.cat1-container h3 {
color: #5F002B;
font-style: italic; 
margin-top: 20px;

}

.cat1-container p {
   color: #5F002B;
  font-size: 10px;
 font-family: "Montauk", sans-serif;;

}

.image-photos{

background-color: white;
width: 100%;
 color: #5F002B;
 max-width: 1200px;
 
}

.img-border{
border: 10px solid white!important  
}


.footer {
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer-desktop,
.footer-mobile {
  max-width: 1140px; 
  margin: 0 auto;
  padding: 0 15px; 
  box-sizing: border-box;
}


.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.footer-mobile {
  display: none;
  text-align: center;
}


@media (max-width: 767.98px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
}


.footer-info p,
.footer-logo p,
.footer-mobile p {
  margin: 4px 0;
   font-family: "Montauk", sans-serif;;
  color: #5F002B;
}


.footer-logo img,
.footer-mobile img {
  align-self: flex-end;
  margin-right: 10px;
  height: 20px;
}
